<p style="margin: 16px 0; line-height: 1.6; color: #24292e;">Этот проект выполнен с помощью #angular 19.2.13v и
  #ng-zorro.</p><h5 style="font-size: 12px; font-weight: bold; margin: 27px 0;">Требования:</h5>
<ol style="padding-left: 24px; list-style-type: decimal;">
  <li style="margin: 8px 0;">Создание проекта:</li>
  <ul style="padding-left: 24px; list-style-type: disc;">
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Используйте Angular CLI версии 19 для
      создания нового проекта.
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Настройте проект для использования SCSS
      для
      стилей.
    </li>
  </ul>
  <li style="margin: 8px 0;">Компоненты:</li>
  <ul style="padding-left: 24px; list-style-type: disc;">
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Создайте компонент, который будет
      отображать
      список пользователей.
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Создайте компонент, который будет
      отображать
      подробную информацию о выбранном пользователе.
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Создайте компонент, который будет
      использоваться для создания и редактирования пользователей.
    </li>
  </ul>
  <li style="margin: 8px 0;">Сервисы:</li>
  <ul style="padding-left: 24px; list-style-type: disc;">
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Создайте сервис, который будет
      взаимодействовать с внешним API для получения, создания, обновления и удаления пользователей.
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Используйте Angular HTTP Client для
      выполнения HTTP-запросов.
    </li>
  </ul>
  <li style="margin: 8px 0;">Маршрутизация:</li>
  <ul style="padding-left: 24px; list-style-type: disc;">
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Настройте маршрутизацию для навигации
      между
      списком пользователей, деталями пользователя и формой пользователя.
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Используйте параметры маршрута для
      передачи
      идентификатора пользователя между компонентами.
    </li>
  </ul>
  <li style="margin: 8px 0;">Формы:</li>
  <ul style="padding-left: 24px; list-style-type: disc;">
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Используйте Angular Reactive Forms для
      создания и редактирования пользователей.
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Реализуйте валидацию формы, включая
      обязательные поля и проверку формата email.
    </li>
  </ul>
  <li style="margin: 8px 0;">Дополнительные задачи:</li>
  <ul style="padding-left: 24px; list-style-type: disc;">
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Используйте Ng-zorro&nbsp;для стилизации
      приложения.
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Реализуйте пагинацию для списка
      пользователей.
    </li>
    <li style="margin: 8px 0;"><input disabled="" type="checkbox"> Добавьте возможность фильтрации пользователей по
      имени
      или email.
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Наличие Unit&nbsp;тестов</li>
    <li style="margin: 8px 0;"><input disabled="" type="checkbox"> Деплой приложения на GitHub Pages</li>
  </ul>
  <li style="margin: 8px 0;">API:<br>Для выполнения задания вы можете использовать следующий API:</li>
  <ul style="padding-left: 24px; list-style-type: disc;">
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Получение списка пользователей: GET
      https://jsonplaceholder.typicode.com/users
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Получение деталей пользователя: GET
      https://jsonplaceholder.typicode.com/users/:id
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Создание пользователя: POST
      https://jsonplaceholder.typicode.com/users
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Обновление пользователя: PUT
      https://jsonplaceholder.typicode.com/users/:id
    </li>
    <li style="margin: 8px 0;"><input checked="" disabled="" type="checkbox"> Удаление пользователя: DELETE
      https://jsonplaceholder.typicode.com/users/:id
    </li>
  </ul>
</ol>
