<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            nzTheme="light"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/welcome">
          <nz-icon nzType="home" nzTheme="outline"></nz-icon>
          <span>Начальная</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact>
        <a routerLink="/users">
          <nz-icon nzType="user" nzTheme="outline"></nz-icon>
          <span>Пользователи</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="users/create/new">
          <nz-icon nzType="user-add" nzTheme="outline"/>
          <span>Добавить пользователя</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"/>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
